html,
body {
  height: 100%;
}

body {
  font-family: 'SFUIDisplay-Regular', sans-serif;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.2;
  background-color: $white;
  display: flex;
  flex-direction: column;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 172px;
}

.main {
  flex-grow: 1;
}

.visuali-hidden{
  position: fixed;
  transform: scale(0);
}
