$dark: #000000;
$white: #ffffff;
$green: #1E5A32;
$yellow: #E6A93F;
$red: red;

@include font-face(SFUIDisplay-Bold, SFUIDisplay-Bold, 700);

@include font-face(SFUIDisplay-Semibold, SFUIDisplay-Semibold, 600);

@include font-face(SFUIDisplay-Regular, SFUIDisplay-Regular, 400);

@include font-face(SFUIDisplay-Light, SFUIDisplay-Light, 300);
